<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mahasiswa</title>
  <link rel="stylesheet" href="Mhs.css" />
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <div id="appMhs">
    <center><h1>Table mahasiswa</h1></center>
    <table id="tableMhs" border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Nim</th>
          <th>Kode Prodi</th>
          <th>Tahun angkatan</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" :key="item.id">
          <td>{{item.id}}</td>
          <td>{{item.nama}}</td>
          <td>{{item.nim}}</td>
          <td>{{item.kodeProdi}}</td>
          <td>{{item.angkatan}}</td>
          <td>
            <button id="editBtn" @click="navEdit(item.id)">Edit</button>
          </td>
          <td><button id="delBtn" @click="removeData(item.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

    <center><button id="addBtn" @click="navAdd">Add mahasiswa</button></center>
  </div>

  <script>
    const dataDummy = {
      data() {
        return {
          items: [
            {
              id: 1,
              nama: "bob",
              nim: 71210713,
              kodeProdi: 71,
              angkatan: 21,
            },
            {
              id: 2,
              nama: "bobi",
              nim: 71210717,
              kodeProdi: 71,
              angkatan: 21,
            },
          ],
        };
      },
      methods: {
        navEdit(id) {
          window.location.href = "editMhs.html?id=" + id;
        },
        removeData(id){
          this.items = this.items.filter(item => item.id !== id);
        },
        navAdd(){
          window.location.href= "addMhs.html"
        }
      },
    };

    const app = Vue.createApp(dataDummy);
    app.mount("#appMhs");
  </script>
</body>
</html>
