<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Mahasiswa</title>
</head>
<body>
  <h1>Add Mahasiswa</h1>
  <div id="appMhs">
    <form @submit.prevent="addUser">
      <label for="nama">Nama:</label>
      <input type="text" id="nama" v-model="newUser.nama" required><br>
      <label for="nim">NIM:</label>
      <input type="text" id="nim" v-model="newUser.nim" required><br>
      <label for="kodeProdi">Kode Prodi:</label>
      <input type="text" id="kodeProdi" v-model="newUser.kodeProdi" required><br>
      <label for="angkatan">Tahun Angkatan:</label>
      <input type="text" id="angkatan" v-model="newUser.angkatan" required><br>
      <button type="submit">Tambahkan Mahasiswa</button>
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          newUser: {
            nama: "",
            nim: "",
            kodeProdi: "",
            angkatan: ""
          },
          //misalkan untuk menyimpan di array baru 
          items: [] 
        };
      },
      methods: {
        addUser() {
          //validasi inputan
          if (!this.newUser.nama || !this.newUser.nim || !this.newUser.kodeProdi || !this.newUser.angkatan) {
            alert("Silakan lengkapi semua!");
            return;
          }
          
          // Mendapatkan id baru berdasarkan id terakhir ditambah 1
          const newId = this.items.length > 0 ? this.items[this.items.length - 1].id + 1 : 1;
          
          // Tambahkan pengguna baru ke dalam array items
          this.items.push({
            id: newId,
            nama: this.newUser.nama,
            nim: this.newUser.nim,
            kodeProdi: this.newUser.kodeProdi,
            angkatan: this.newUser.angkatan
          });
          
          //ceritanya berhasil lalu balik lagi ke halaman sblmnya
          alert("berhasil tambah user");
          
          window.location.href = "TableUser.html";
        }
      }
    });
    
    app.mount("#appMhs");
  </script>
</body>
</html>
