#tableMhs {
    width: 100%;
    text-align: center;
    align-content: center;
}

#addBtn {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-color: white;
    border-radius: 10px;
}

#editBtn {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-color: white;
    border-radius: 5px;
}

#delBtn {
    background-color: red;
    color: white;
    padding: 5px;
    border-color: white;
    border-radius: 5px;
}